<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primer MTV</title>
    <style>
        table {
            border: 1px solid;
            width: 25%;
        }
        th {
            border: 1px solid;
        }
        td {
            border: 1px solid;
            text-align: center;
        }
        </style>
</head>
<body>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Celular </th>
            <th scope="col">Fecha Nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <!--Se utiliza un for para extraer los datos-->
            {% for item in listado_familiares %}
            <tr>
                <td>{{item.Nombre_Apellido}}</td>
                <td>{{item.Celular}}</td>
                <td>{{item.Fecha_Nacimiento|date:"Y-m-d"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>